html {
    overflow-x: hidden;
    width: 100%;
}

/* General Styling */
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* border-style: solid;
    border-width: 5px;
    border-color: red;   */
    justify-content: space-between;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 90px;
    background-color:#1E1E1E;
    /*
    border-style: solid;
    border-width: 5px;
    border-color: red;
    */
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px -20px auto;
    color: white;
    width: 130vh;
    height: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links li {
    display: flex;
    padding: 12px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

.nav-links a:hover {
    color: gold;
}

/* .nav-links img {
    width: 60px;
    height: 60px;
}

.nav-links img:hover {
    opacity: 0.5;
} */

/* Header */
.logo img {
    width: 100px;
    height: auto;
    display: block;

}

.logo img:hover {
    content: url('images/swag_gold.png');
}

.logo {
    position: relative;
    z-index: 1000;
}


/* Featured Photo */
.featured-photo img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.text {
    position: absolute;
    bottom: 60%;
    right: 100px;
    transform: translateY(-50%);
    color: white;
    font-size: 4em;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

.text:hover {
    background: rgba(0, 0, 0, 0.8);
}

.description {
    position: absolute;
    bottom: 55%;
    right: 210px;
    transform: translateY(-50%);
    color: white;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

.description:hover {
    background: rgba(0, 0, 0, 0.8);
}

.projects-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;

}

.projects-header h2 {
    font-size: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #1E1E1E;
    padding: 10px 10px;
    border-radius: 5px;
}

.projects-header h2:hover {
    color: gold;
}

/* Project Gallery */
.project-gallery {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}

.proj-item {
    background: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;;
    max-width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.proj-item p {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.proj-item:hover {
    transform: scale(1.05);
}


.project-gallery img {
    width: 300px;
    border-radius: 8px;
}


/*
.project-gallery img:hover {
    width: 400px;
    height: auto;
}
*/

/* Skills and Autobiography */
.skills-autobiography {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.skills, .autobiography {
    flex: 1;
    max-width: 500px;
}

.skills img, .autobiography img {
    width: 100%;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

footer a {
    color: lightblue;
    text-decoration: none;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 30px; /* Adjust size */
    height: 30px;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.2); /* Slight zoom on hover */
}

